<?xml version="1.0" encoding="utf-8" ?>
<!-- remember: VALID xml syntax! >) -->
<configuration>
  <!-- application settings (all of them are optional) -->
  <application>
    <!-- after launch automatically search for usb device -->
    <autostart>False</autostart>
    <!-- hide main window after launch (silent mode) -->
    <hidden>False</hidden>
    <!-- show my epic spalsh screen on launch :) -->
    <splash>False</splash>
    <!-- open explorer after successful mount -->
    <explorer>True</explorer>
  </application>
  <!-- properties to identify your master password usb device
  because the drive letter can change easily I took this way 
  you will find this information in main window -> list disk info -->
  <usb-device>
    <!-- caption ("name") of your usb device -->
    <caption>USB DISK Pro USB Device</caption>
    <!-- signature (unique number) of your usb device -->
    <signature>4066797689</signature>
    <!-- partition number (to find the drive letter) -->
    <!-- begin counting from 1 NOT 0!-->
    <partition>1</partition>
    <!-- is password file is in sub directory, tell me here 
    e.g. secrets\mypasswords\ WITHOUT letter!
    if emtpy the password files will be searched in the root (e.g. H:\)-->
    <password-path></password-path>
  </usb-device>
  <!-- your encrypted device configurations -->
  <disk-drives>
    <!-- a disk is identified by its caption ("name") and the unique signature value 
    you will find this information in main window -> list disk info -->
    <disk caption="ST8700424AS ATA Device" signature="2559930902">
      <!-- description of this device (optional) -->
      <description>Notebook System &amp; Data</description>
      <!-- if set to false the whole device gets skipped in the detection process -->
      <active>False</active>
      <!-- device may have multiple partitions, each partition needs the physical partition
      number (count from 1 NOT 0!) -->
      <partition number="4">
        <!-- enable or disable the partition configuration -->
        <active>True</active>
        <!-- name of the password file 
        only the first line (til \r\n) gets read 
        coose your own extension -->
        <password>notebook.tcp</password>
        <!-- drive letter for the new volume -->
        <letter>D</letter>
      </partition>
    </disk>
    <!-- some examples -->
    <disk caption="MANN CO. 1337 USB Device" signature="1122334455">
      <active>True</active>
      <partition number="1">
        <active>True</active>
        <password>porn.tcp</password>
        <letter>E</letter>
      </partition>
    </disk>
    <!-- some examples -->
    <disk caption="TF INDUSTRIES 119 External USB Device" signature="1098765432">
      <active>True</active>
      <partition number="1">
        <active>True</active>
        <password>pc_vs_mac.tcp</password>
        <letter>F</letter>
      </partition>
    </disk>
    <!-- empty template -->
    <disk caption="" signature="">
      <active>True</active>
      <partition number="1">
        <active>True</active>
        <password>something.tcp</password>
        <letter>I</letter>
      </partition>
    </disk>
    <disk caption="WDC WD25 00BB-00RDA0 USB Device" signature="1040417970">
      <active>True</active>
      <partition number="1">
        <active>True</active>
        <password>backup.tcp</password>
        <letter>I</letter>
      </partition>
    </disk>
  </disk-drives>
  <!-- truecrypt configuration (necessary) -->
  <truecrypt>
    <!-- path to truecrypt´s executable -->
    <executable>C:\Program Files (x86)\TrueCrypt\TrueCrypt.exe</executable>
    <!-- mount arguments (DO NOT CHANGE!)
    /q background   - hide truecrypt main window (silent mode)
    /s              - do not display any prompts (errors, warnings etc.)
    /a              - automatic mount
    /c              - store password on cache
    /l{0}           - device letter (do NOT change the {0} order! 
    /v {1}          - volume path gets inserted here
    /p {2}          - password gets inserted here-->
    <arguments>/q background /s /a /c /l{0} /v {1} /p {2}</arguments>
  </truecrypt>
</configuration>